body{
    background-color: lavenderblush;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-size:cover;
}
h2{
    color:brown
}
.odd{
    color:lightcoral
    
}
.even{
    color:olive
   
}