body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 10px;
    background: pink;
}

header {
    background: brown;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color:purple;
    
}

.one {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

#about img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background: #CBC3E3;
    color: black;
    margin: 5px 0;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 400px;
    height: 100px;
}

#projects img {
    width: 100%;
    height: auto;
    margin:100px;
}

#resume a {
    display: inline-block;
    height: 50px;
    background: #CBC3E3;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact ul li {
    margin: 10px 0;
}
